.jumbotron {
  min-height: 200px;
}

.jumbotron.correct {
  background-color: #F7CAC9;
}

.jumbotron.wrong {
  background-color: #92A8D1;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
  border-color: #e6e6e6;
}

.solution-box {
  background-color: white;
  opacity: 0.8;
  padding: 20px;
  margin-top: 20px;
}
